@model IEnumerable<MgeniTrack.Models.VisitorInvitation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurposeOfVisit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpectedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InvitationToken)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QrCodePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resident)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurposeOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpectedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InvitationToken)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QrCodePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resident.ResidentId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InvitationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InvitationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InvitationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
