@model List<MgeniTrack.Models.Resident>
@{
    ViewData["Title"] = "Manage Residents";
}

<div class="page-header">
    <div class="page-header-left">
        <h2>&#128100; Manage Residents</h2>
        <p>All registered system Residents</p>
    </div>
    <a asp-action="Create" class="btn btn-primary">&#43; Add Resident</a>
</div>

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">&#9989; @TempData["Success"]</div>
}


<div class="table-card">
    <table class="data-table">

    <thead>
        <tr>
            <th>Name</th>
            <th>Unit</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.User.Firstname @r.User.Secondname</td>
                <td>@r.Unit.UnitNumber</td>
                <td>
                    <span class="badge @(r.Unit.IsOccupied ? "badge-green" : "badge-gray")">
                        @(r.Unit.IsOccupied ? "Occupied" : "Free")
                    </span>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@r.ResidentId">Edit</a> |
                     <a asp-action="Details" asp-route-id="@r.ResidentId">View</a> |
                    <a asp-action="Delete" asp-route-id="@r.ResidentId">Delete</a>  |
                </td>
            </tr>
        }
    </tbody>
</table>
</div>